##
#  This template unit file is intended to be used as a user service.
#
#  Pass the user sub directory path for each sensu client you want to run
#  Ex:  To use /home/user/sensu/test as SENSU_PREFIX 
#  Call: systemctl --user start sensu_client@sensu/test.service
##
[Unit]
Description=sensu client with SENSU_PREFIX: /%h/%i
After=network-online.target
AssertPathExists=/%h/%i

[Service]
Environment=SENSU_PREFIX=/%h/%i
Environment=SENSU_LOADED_TEMPFILE_DIR=/%h/%i/tmp
Environment="PATH=/%h/bin/:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"

WorkingDirectory=/%h/%i
PrivateTmp=true
NoNewPrivileges=true

ExecStart=/usr/bin/env /%h/bin/sensu-client -c ${SENSU_PREFIX}/etc/sensu/config.json -d ${SENSU_PREFIX}/etc/sensu/conf.d/ -e ${SENSU_PREFIX}/etc/sensu/extensions -p ${SENSU_PREFIX}/var/run/sensu/sensu-client.pid -l ${SENSU_PREFIX}/var/log/sensu/sensu-client.log -L info 
Restart=on-failure
RestartSec=1min

ExecStopPost=/usr/bin/rm ${SENSU_LOADED_TEMPFILE_DIR}/sensu_client_loaded_files

[Install]
WantedBy=network-online.target
